.info {
    padding: 30px 0;
    background-color:white;
    opacity: 1
}

.info form {
    margin: 0 auto;

    width: 200px;
    height: 250px;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


