body,
html {
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
}

#menu {
    background-color: #0e3961;
    height: 100%;
    width: 50px;
}

#main {
    height: 100%;
    width: calc(100vw - 300px);
    overflow-x: scroll;
    overflow-y: scroll;

    background: linear-gradient(135deg, #cacaca 0%, #cacaca 5%,transparent 5%, transparent 10%, #cacaca 10%, #cacaca 15%,transparent 15%,transparent 20%, #cacaca 20%, #cacaca 25%,transparent 25%,transparent 30%, #cacaca 30%, #cacaca 35%,transparent 35%,transparent 40%, #cacaca 40%, #cacaca 45%,transparent 45%,transparent 50%, #cacaca 50%, #cacaca 55%,transparent 55%,transparent 60%, #cacaca 60%, #cacaca 65%,transparent 65%,transparent 70%, #cacaca 70%, #cacaca 75%,transparent 70%,transparent 80%, #cacaca 80%, #cacaca 85%,transparent 85%,transparent 90%, #cacaca 90%, #cacaca 95%,transparent 95%);
    background-size: 1em 1em;
    background-color: #ffffff;
    opacity: 1;
}

#operation {
    height: 100%;
    width: 250px;

    overflow-y: scroll;
    background-color:white;
    opacity: 1;
}

#menu img {
    margin: 10px 9px;
    flex-direction: column;
}

#main canvas {
    background: white;

    border: 2px solid rgb(153, 153, 153);
}

#operation canvas {
    background-color:white;
    
    display: block;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
}
#operation .button {
    margin: 0 30px;
}