.info {
    padding: 30px 0;
    background-color:white;
    opacity: 1
}

.info form {
    margin: 0 auto;

    width: 200px;
    height: 290px;
    background: white;
}

.info form .txt {
    width: 200px;
}

.info form .but {
    width: 200px;
}
