.search {
    padding: 60px 0 0;
    background-color:white;
    opacity: 1
}

.search form {
    position: relative;
    width: 200px;
    height: 42px;
    margin: 0 auto;

    background: white;
}

.search input,
.search button {
    box-sizing: border-box;
}

.search input {
    width: 200px;
    height: 42px;
    border: 1px solid rgb(0, 0, 0);
    background: none;
    font-size:large;
}

.search button {
    width: 42px;
    height: 42px;
    cursor: pointer;
    background: none;
    border: none;
    
    position: absolute;
    right: 0;
}

.search button:before {
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
}